<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.childsplay">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Child's Play"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChildsPlay">
        <activity android:name="com.example.childsplay.countGameLvl3"></activity>
        <activity android:name="com.example.childsplay.countGameLvl2" />
        <activity android:name="com.example.childsplay.countGameLvl1" />
        <activity android:name="com.example.childsplay.additionLevelThree" />
        <activity android:name="com.example.childsplay.additionLevelTwo" />
        <activity android:name="com.example.childsplay.additionLevelOne" />
        <activity android:name="com.example.childsplay.alphabetGameLvl3" />
        <activity android:name="com.example.childsplay.alphabetGameLvl2" />
        <activity android:name="com.example.childsplay.alphabetGameLvl1" />
        <activity android:name="com.example.childsplay.alphabetGame" />
        <activity android:name="com.example.childsplay.countGame" />
        <activity android:name="com.example.childsplay.additionGame" />
        <activity android:name="com.example.childsplay.homePage" />
        <activity
            android:name="com.example.childsplay.newAdmin"
            android:parentActivityName="com.example.childsplay.accountCreation" />
        <activity
            android:name="com.example.childsplay.accountCreation"
            android:parentActivityName="com.example.childsplay.LoginPage" />
        <activity
            android:name="com.example.childsplay.forgotPassword"
            android:parentActivityName="com.example.childsplay.LoginPage" />
        <activity android:name="com.example.childsplay.LoginPage" />
        <activity android:name="com.example.childsplay.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>